In [9]:
a=int(input('Enter a number '))
for i in range(1,11):
    print(i*a)

Enter a number 4
4
8
12
16
20
24
28
32
36
40

In [3]:
a=1
while a:
    b=input("Enter a number and zero to quit ")
    if(b=='0'):
        a=0

Enter a number and zero to quit d
Enter a number and zero to quit c
Enter a number and zero to quit
Enter a number and zero to quit 5
Enter a number and zero to quit 4
Enter a number and zero to quit 0

In [12]:
a=input('Enter a city ')
if a=='karachi':
    print('one of the best city ')
elif a=='lahore':
    print('normal city ')
else:
    print('bad')

Enter a city karachi
one of the best city

In [19]:
def func1():
    for i in range(10):
        print('shakeeb')

In [20]:
def func2(a,b):
    c=a+b
    print(c)

In [22]:
func2(4,5)

9

In [23]:
def func3(a,b):
    return a*b

In [24]:
func3(4,5)

20

In [110]:
class student:
    def init__(id,name,field):
        self.id=id
        self.name=name
        self.field=field
    def func(self):
        print(self.id," ",self.name," ",self.field)

In [111]:
s=student()

In [112]:
s.id=1

In [113]:
s.name='shakeeb'

In [114]:
s.field='Ai'

In [115]:
s.func()

1   shakeeb   Ai

In [116]:
class iot(student):
    pass

In [117]:
a=iot()

In [118]:
a.id=2
a.name='shakiba'
a.field='iot'

In [119]:
a.func()

2   shakiba   iot

In [120]:
class Person:
    def __init__(self,fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

In [121]:
p=Person('shakeeb ','Anwar')

In [122]:
p.printname()

shakeeb  Anwar

In [123]:
q=Person('sania','anwar')

In [124]:
q.printname()

sania anwar

In [127]:
class student:
    def __init__(self,id,name,field):
        self.id=id
        self.name=name
        self.field=field
    def func(self):
        print(self.id," ",self.name," ",self.field)

In [128]:
s=student(1,'shakiba','cloud')

In [129]:
s.func()

1   shakiba   cloud

In [158]:
class ai(student):
    def __init__(self,id,name,field,year):
        super() .__init__(id,name,field)
        self.year=year
    def func(self):
        print(self.id,self.name,self.field,self.year)
      
        
        
        
         #super().__init__(fname, lname)

In [159]:
a=ai(1,'shakeeb','meta','2018')

In [160]:
a.func()

1 shakeeb meta 2018

# TUPPLE

In [161]:
A=(1,2,3,4,'SHAKEEB',2/3)

In [162]:
A

(1, 2, 3, 4, 'SHAKEEB', 0.6666666666666666)

# LIST

https://www.programiz.com/python-programming/methods/list/clear

In [163]:
a=[1,2,3,4]

In [164]:
a

[1, 2, 3, 4]

In [165]:
a.append(5)

In [166]:
a

[1, 2, 3, 4, 5]

In [167]:
a.insert(0,10)

In [168]:
a

[10, 1, 2, 3, 4, 5]

In [174]:
a[1]=12

In [175]:
a

[10, 12, 2, 3, 4, 5]

In [177]:
a.remove(10)

In [178]:
a

[12, 2, 3, 4, 5]

In [180]:
a.index(3)

2

In [184]:
b=['shakeeeb','hassan']

In [182]:
a.append(b)

In [183]:
a

[12, 2, 3, 4, 5, ['shakeeeb', 'hassan']]

In [185]:
a.extend(b)

In [186]:
a

[12, 2, 3, 4, 5, ['shakeeeb', 'hassan'], 'shakeeeb', 'hassan']

In [188]:
a.append(16)

In [190]:
a

[12, 2, 3, 4, 5, ['shakeeeb', 'hassan'], 'shakeeeb', 'hassan', 16]

In [191]:
v=['a','e','i','o','u','a']

In [192]:
v.count('a')

2

In [197]:
h=v.pop(1)

In [198]:
v

['a', 'i', 'o', 'u']

In [199]:
c=[1,2,3]

In [200]:
c.append(h)

In [201]:
c

[1, 2, 3, 'e']

In [202]:
c.reverse()

In [203]:
c

['e', 3, 2, 1]

In [206]:
k=[9,7,5,2]

In [207]:
k.sort()

In [208]:
k

[2, 5, 7, 9]

In [210]:
old_list = [1, 2, 3]
new_list = old_list

# add element to list
new_list.append('a')

print('New List:', new_list )
print('Old List:', old_list )

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [233]:
name=['hassan','shakiba','shakeeb']

In [212]:
n=name

In [213]:
n

['hassan', 'shakiba', 'shakeeb']

In [214]:
name

['hassan', 'shakiba', 'shakeeb']

In [215]:
name.append('kanwal')

In [217]:
n

['hassan', 'shakiba', 'shakeeb', 'kanwal']

In [218]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]

# clearing the list
list.clear()

print('List:', list)

List: []

In [219]:
name.clear()

In [220]:
name

[]

In [228]:
list = [{1, 2}, ('a'), ['1.1', '2.2']]

In [229]:
list

[{1, 2}, 'a', ['1.1', '2.2']]

In [234]:
list.extend(name)

In [235]:
list

[{1, 2}, 'a', ['1.1', '2.2'], 'hassan', 'shakiba', 'shakeeb']

In [237]:
list.remove({1,2})

In [238]:
list

['a', ['1.1', '2.2'], 'hassan', 'shakiba', 'shakeeb']

In [242]:
del(list[0])

In [243]:
list

[['1.1', '2.2'], 'hassan', 'shakiba', 'shakeeb']

In [245]:
list.index(['1.1','2.2'])

0

# slice

In [248]:
list[1:3]

['hassan', 'shakiba']

In [249]:
list[::-1]

['shakeeb', 'shakiba', 'hassan', ['1.1', '2.2']]

In [251]:
list

[['1.1', '2.2'], 'hassan', 'shakiba', 'shakeeb']

In [250]:
list[::2]

[['1.1', '2.2'], 'shakiba']

In [257]:
first_name=['shakeeb','hassan','shakiba','sania']
last_name=['anwar']
for i in first_name:
    for j in last_name:
        print(i,j)

shakeeb anwar
hassan anwar
shakiba anwar
sania anwar

In [261]:
full_name=[]
full_name.append(first_name)
full_name.append(last_name)

In [262]:
full_name

[['shakeeb', 'hassan', 'shakiba', 'sania'], ['anwar']]

In [267]:
a=[]
for j in range(5):
    b=input('enter a number')
    for i in b:
        a.append(i)

enter a number2
enter a number3
enter a number4
enter a number5
enter a number6

In [268]:
a

['2', '3', '4', '5', '6']

In [269]:
test=['shakeeb','sania']

In [270]:
test[1]

'sania'

In [273]:
test[1][3]

'i'

# DICTIONARY

https://www.programiz.com/python-programming/dictionary

In [342]:
a={'Name':'shakeeb',"class":"BSCS"}

In [343]:
a

{'Name': 'shakeeb', 'class': 'BSCS'}

In [344]:
a['Name']='shakiba'

In [345]:
a

{'Name': 'shakiba', 'class': 'BSCS'}

In [346]:
a['Rollno']=25

In [347]:
a

{'Name': 'shakiba', 'class': 'BSCS', 'Rollno': 25}

In [348]:
a["Name"]

'shakiba'

In [351]:
a.update({'year':2019})

In [352]:
a

{'Name': 'shakiba', 'class': 'BSCS', 'Rollno': 25, 'year': 2019}

In [355]:
# Two dictionaries
dict1 = {
"Hello": 56,
"at" : 23 ,
"test" : 43,
"this" : 43
}
dict2 = { 'where' : 4 ,
'who' : 5 ,
'why': 6 ,
'this' : 20 
}

In [357]:
dict1.update(dict2)

In [358]:
dict1

{'Hello': 56, 'at': 23, 'test': 43, 'this': 20, 'where': 4, 'who': 5, 'why': 6}

In [359]:
dict2

{'where': 4, 'who': 5, 'why': 6, 'this': 20}

In [362]:
dict1.clear()

In [363]:
dict1

{}

In [365]:
dict2

{'where': 4, 'who': 5, 'why': 6, 'this': 20}

In [366]:
del dict2['why']

In [368]:
dict2

{'where': 4, 'who': 5, 'this': 20}

In [370]:
dict2.pop('who')

5

In [371]:
dict2

{'where': 4, 'this': 20}

In [375]:
del(dict2['where'])

In [377]:
dict2

{'this': 20}

In [378]:
del dict2

In [380]:
squares = {x: x*x for x in range(6)}

# Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [381]:
squares = {}
for x in range(6):
       squares[x] = x*x

In [382]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [384]:
odd_squares = {x: x*x for x in range(11) if x%2 == 0}

# Output: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(odd_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [385]:
odd_squares = {x: x*x for x in range(11) if x%2 == 1}

# Output: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [386]:
dic={}
for i in range(5):
    a=input('Enter a key')
    b=input('Enter a value')
    dic[a]=b

Enter a key5
Enter a valueshakeeb
Enter a key1
Enter a valueshakiba
Enter a key3
Enter a valuehassan
Enter a key9
Enter a valuekanwal
Enter a key10
Enter a valuehussnain

In [387]:
dic

{'5': 'shakeeb',
 '1': 'shakiba',
 '3': 'hassan',
 '9': 'kanwal',
 '10': 'hussnain'}

In [393]:
dic["1"]

'shakiba'

In [394]:
a={1:'processor',2:'microchip',3:'memory',4:'speaker'}

In [399]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [417]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [414]:
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i,j in squares.items():
    print(i,j)

1 1
3 9
5 25
7 49
9 81

In [418]:
a

{1: 'processor', 2: 'microchip', 3: 'memory', 4: 'speaker'}

In [420]:
for i in a.values():
    print(i)

processor
microchip
memory
speaker

# Dictionary function:

In [424]:
squares = {1: 1, 9: 9, 3: 25, 7: 81, 2: 49}

# Output: 5
print(len(squares))

# Output: [1, 3, 5, 7, 9]
#key ka hisab sa sort karaga
print(sorted(squares))

5
[1, 2, 3, 7, 9]

In [426]:
# all values true
l = [1, 3, 4, 5]
print(all(l))

# all values false
l = [0, False]
print(all(l))

# one false value
l = [1, 3, 4, 0]
print(all(l))

# one true value
l = [0, False, 5]
print(all(l))

# empty iterable
l = []
print(all(l))

True
False
False
False
True

In [427]:
s = "This is good"
print(all(s))

# 0 is False
# '0' is True
s = '000'
print(all(s))

s = ''
print(all(s))

True
True
True

In [430]:
#In case of dictionaries, if all keys (not values) are true or the dictionary is empty, all() returns True. Else, it returns false for all other cases..

s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

s = {}
print(all(s))

# 0 is False
# '0' is True
s = {'0': 'True'}
print(all(s))

False
True
False
True
True

In [431]:
l = [1, 3, 4, 0]
print(any(l))

l = [0, False]
print(any(l))

l = [0, False, 5]
print(any(l))

l = []
print(any(l))

True
False
True
False

In [432]:
s = "This is good"
print(any(s))

# 0 is False
# '0' is True
s = '000'
print(any(s))

s = ''
print(any(s))

True
True
False

In [433]:

#In case of dictionaries, if all keys (not values) are false, any() returns False. If at least one key is true, any() returns True.
d = {0: 'False'}
print(any(d))

d = {0: 'False', 1: 'True'}
print(any(d))

d = {0: 'False', False: 0}
print(any(d))

d = {}
print(any(d))

# 0 is False
# '0' is True
d = {'0': 'False'}
print(any(d))

False
True
False
False
True

In [434]:
testList = []
print(testList, 'length is', len(testList))

testList = [1, 2, 3]
print(testList, 'length is', len(testList))

testTuple = (1, 2, 3)
print(testTuple, 'length is', len(testTuple))

testRange = range(1, 10)
print('Length of', testRange, 'is', len(testRange))

[] length is 0
[1, 2, 3] length is 3
(1, 2, 3) length is 3
Length of range(1, 10) is 9

In [435]:
testString = ''
print('Length of', testString, 'is', len(testString))

testString = 'Python'
print('Length of', testString, 'is', len(testString))

# byte object
testByte = b'Python'
print('Length of', testByte, 'is', len(testByte))

testList = [1, 2, 3]

# converting to bytes object
testByte = bytes(testList)
print('Length of', testByte, 'is', len(testByte))

Length of  is 0
Length of Python is 6
Length of b'Python' is 6
Length of b'\x01\x02\x03' is 3

In [437]:
len(testList)

3

In [438]:
testSet = {1, 2, 3}
print(testSet, 'length is', len(testSet))

# Empty Set
testSet = set()
print(testSet, 'length is', len(testSet))

testDict = {1: 'one', 2: 'two'}
print(testDict, 'length is', len(testDict))

testDict = {}
print(testDict, 'length is', len(testDict))

testSet = {1, 2}
# frozenSet
frozenTestSet = frozenset(testSet)
print(frozenTestSet, 'length is', len(frozenTestSet))

{1, 2, 3} length is 3
set() length is 0
{1: 'one', 2: 'two'} length is 2
{} length is 0
frozenset({1, 2}) length is 2

In [441]:
class Session:
    def __init__(self, number=9 ):
      self.number = number
    
    def __len__(self):
      return self.number


# default length is 0
s1 = Session()
print(len(s1))

# giving custom length
s2 = Session(6)
print(len(s2))

9
6

In [442]:
# vowels list
pyList = ['e', 'a', 'u', 'o', 'i']
print(sorted(pyList))

# string 
pyString = 'Python'
print(sorted(pyString))

# vowels tuple
pyTuple = ('e', 'a', 'u', 'o', 'i')
print(sorted(pyTuple))

['a', 'e', 'i', 'o', 'u']
['P', 'h', 'n', 'o', 't', 'y']
['a', 'e', 'i', 'o', 'u']

In [443]:
# set
pySet = {'e', 'a', 'u', 'o', 'i'}
print(sorted(pySet, reverse=True))

# dictionary
pyDict = {'e': 1, 'a': 2, 'u': 3, 'o': 4, 'i': 5}
print(sorted(pyDict, reverse=True))

# frozen set
pyFSet = frozenset(('e', 'a', 'u', 'o', 'i'))
print(sorted(pyFSet, reverse=True))

['u', 'o', 'i', 'e', 'a']
['u', 'o', 'i', 'e', 'a']
['u', 'o', 'i', 'e', 'a']

In [448]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
sortedList = sorted(random, key=takeSecond)

# print list
print('Sorted list:', sortedList)

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]

In [450]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
sortedList = sorted(random)

# print list
print('Sorted list:', sortedList)

Sorted list: [(1, 3), (2, 2), (3, 4), (4, 1)]

In [446]:
random

[(2, 2), (3, 4), (4, 1), (1, 3)]

# Dictionary with in a dictionary

In [451]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [454]:
myfamily['child1']

{'name': 'Emil', 'year': 2004}

In [455]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [456]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [457]:
thisdict =	dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [461]:
thisdict[0:1]

TypeError: unhashable type: 'slice'

# list comprehension

In [312]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [315]:
a=[i*5 for i in range(1,11) ]

In [316]:
a

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [337]:
b=[i*j for i in range(2,11) for j in range(1,11)]

In [338]:
b

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

# FILE HANDLING

In [462]:
with open('check.txt','w') as f:
    f.write('practice makes a man perfect')

In [465]:
with open('check.txt') as f:
    print(f.read())

practice makes a man perfect
 second line

In [464]:
with open('check.txt','a') as f:
    f.write("\n second line")

In [467]:
with open('check1.txt','x') as f:
     f.write('practice makes a man perfect')

In [498]:
import os
if os.path.exists("check.csv"):
    os.remove("check.csv")
else:
    print("The file does not exist")

In [499]:
import os
os.rmdir("myfolder")

# python Database

In [468]:
#pip install pymysql
import pymysql

In [469]:
connection =pymysql.connect(host='localhost',user='root',password="",db="python")
mycursor=connection.cursor()
mycursor.execute("""create table detail(id int primary key,name varchar(20))""")
connection.commit()
connection.close()

In [474]:

connection =pymysql.connect(host='localhost',user='root',password="",db="python")
mycursor=connection.cursor()
mycursor.execute("insert into detail values(3,'hassan')")
connection.commit()
connection.close()

In [475]:
connection =pymysql.connect(host='localhost',user='root',password="",db="python")
mycursor=connection.cursor()
mycursor.execute("update detail set name='shakiba' where id=1")
connection.commit()
connection.close()

In [476]:
connection =pymysql.connect(host='localhost',user='root',password="",db="python")
mycursor=connection.cursor()
mycursor.execute("delete from detail where id=3")
connection.commit()
connection.close()

# Module:

In [478]:
import check

In [481]:
check.func(2,3)

6

In [483]:
import clas

In [484]:
clas.student.func()

shakeeb

# json module:

In [488]:
import json

In [490]:
a=[1,2,3,4]
with open('json.json','w') as f:
    json.dump(a,f)

In [495]:
with open('json.json','r') as f:
    print(json.load(f))

[1, 2, 3, 4]

In [491]:
a={"Name":"shakeeb","class":"bscs"}
with open('dic.json','w') as f:
    json.dump(a,f)

In [494]:
with open('dic.json','r') as f:
    print(json.load(f))

{'Name': 'shakeeb', 'class': 'bscs'}